@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf')  format('truetype')
}

$color-main-text: rgb(255, 255, 255);

html {
    background: url(assets/desktop/bg-image-daytime.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.4);
    background-blend-mode: multiply;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .clock{
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;

        .time {
            grid-column: 2;
            
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;

            .time-title {
                background-color1: chartreuse;
                
                grid-row: 2;
                
                color: $color-main-text;

                .time-title-clock-text {
                    font-family: Inter;
                    font-weight: 1000;
                    letter-spacing: -5px;
                    font-size: 16vh;
                    line-height: 1.0;
                    padding: 0;

                    .time-title-clock-text-hours {
                        display: inline-block;
                        background-color: chocolate;
                    }

                    .time-title-clock-text-delimiter {
                        display: inline-block;
                        background-color: darkolivegreen;
                    }

                    .time-title-clock-text-minutes {
                        display: inline-block;
                        background-color: darkcyan;
                    }
                }
            }
        }

        .switch {
            grid-column: 3;
            background-color: coral;
        }
    }

    .details {
        grid-row: 2;
        background-color: aquamarine;

        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;

        .stats-left {
            grid-column: 2;
            background-color: darkgreen;
        }

        .stats-right {
            grid-column: 3;
            background-color: greenyellow;
        }
    }
}
