@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf')  format('truetype')
}

$color-main-text: rgb(255, 255, 255);

html {
    background: url(assets/desktop/bg-image-daytime.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.4);
    background-blend-mode: multiply;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .clock{
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;

        .time {
            grid-column: 2;
            
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;

            .time-title {
                background-color: chartreuse;
                font-family: Inter;
                font-weight: 200;
                grid-row: 2;
                font-size: 23pt;
                color: $color-main-text;
            }
        }

        .switch {
            grid-column: 3;
            background-color: coral;
        }
    }

    .details {
        grid-row: 2;
        background-color: aquamarine;

        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;

        .stats-left {
            grid-column: 2;
            background-color: darkgreen;
        }

        .stats-right {
            grid-column: 3;
            background-color: greenyellow;
        }
    }
}
