@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
html {
  background: url(assets/desktop/bg-image-daytime.jpg) no-repeat center center fixed;
  /*background: url(assets/desktop/bg-image-nighttime.jpg) no-repeat center center fixed;*/
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

.day .greetings-icon {
  background-image: url("assets/desktop/icon-sun.svg");
}
.day .details {
  background-color: #FFFFFF;
  color: #303030;
}

.night .greetings-icon {
  background-image: url("assets/desktop/icon-moon.svg");
}
.night .details {
  background-color: #000000;
  color: #FFFFFF;
}

body {
  height: 100vh;
  font-family: "Inter";
  display: grid;
  grid-template-rows: 56% 44%;
}
@media (min-aspect-ratio: 1000/877) {
  body {
    grid-template-rows: 50% 50%;
  }
}
body .quote-block {
  background-color1: royalblue;
  grid-row: 1;
  display: none;
  /* grid */
  grid-template-rows: 5vh 1fr;
  grid-template-columns: 10% 40% 1fr;
  color: white;
}
body .quote-block .quote {
  margin-top: 5vh;
  background-color1: silver;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr min-content;
}
body .quote-block .quote .quote-content {
  grid-column: 1;
}
body .quote-block .quote .quote-content .quote-text {
  font-weight: 300;
  font-size: 2vh;
}
body .quote-block .quote .quote-content .quote-author {
  font-weight: 700;
  font-size: 2vh;
}
body .quote-block .quote .quote-refresh-content {
  background-color1: tomato;
  grid-column: 2;
}
body .quote-block .quote .quote-refresh-content .quote-refresh {
  margin-top: 3vh;
  margin-left: 1vh;
  height: 2vh;
  width: 2vh;
  cursor: pointer;
}
body .clock {
  display: grid;
  grid-row: 1;
  /* 1 - more, 2 - less*/
  grid-template-rows: 20% 50% 30%;
  grid-template-columns: 8% 84% 8%;
}
@media (min-aspect-ratio: 1000/877) {
  body .clock {
    grid-template-rows: 100%;
    grid-template-columns: 10% 40% 40% 10%;
  }
}
body .clock .time {
  background-color: yellowgreen;
  display: grid;
  grid-template-rows: 33% 34% 33%;
  grid-row: 2;
  grid-column: 2;
}
@media (min-aspect-ratio: 1000/877) {
  body .clock .time {
    grid-row: unset;
    grid-column: 2;
  }
}
body .clock .time .greetings-icon {
  height: 3vh;
  width: 3vh;
  background-size: cover;
  display: inline-block;
  margin-right: 2vh;
}
body .clock .time .greetings {
  grid-row: 1;
  background-color: darkblue;
  font-weight: 400;
  font-size: 2vh;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1em;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 2vh;
}
body .clock .time .greetings .greetings-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr;
}
body .clock .time .greetings .greetings-text {
  display: grid;
  align-content: center;
}
body .clock .time .time-title {
  background-color: deeppink;
  height: 100%;
  grid-row: 2;
  color: white;
}
body .clock .time .time-title .time-title-clock-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 0;
  background-color1: darkred;
}
body .clock .time .time-title .time-title-clock-text .time-title-clock-text-hours {
  font-size: 15vh;
  display: inline-block;
  background-color1: chocolate;
}
body .clock .time .time-title .time-title-clock-text .time-title-timezone {
  display: inline-block;
  font-size: 4vh;
  font-weight: 200;
}
body .clock .time .place {
  height: 100%;
  background-color: darkolivegreen;
  grid-row: 3;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2vh;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.1em;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}
body .clock .switch {
  grid-row: 3;
  grid-column: 2;
  display: grid;
  grid-template-rows: 33% 34% 33%;
  align-items: center;
}
@media (min-aspect-ratio: 1000/877) {
  body .clock .switch {
    grid-row: unset;
    grid-column: 3;
  }
}
body .clock .switch .switch-button-area {
  grid-row: 2;
  display: grid;
  justify-content: start;
}
@media (min-aspect-ratio: 1000/877) {
  body .clock .switch .switch-button-area {
    justify-content: end;
    grid-row: 3;
  }
}
body .clock .switch .switch-button-area .switch-button-background {
  background-color: white;
  display: inline-grid;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-columns: max-content max-content;
  border-radius: 4vh;
  padding: 1vh;
  justify-content: space-around;
  color: black;
  cursor: pointer;
}
body .clock .switch .switch-button-area .switch-button-background:hover {
  color: #999999;
}
body .clock .switch .switch-button-area .switch-button-background:hover .switch-button-icon {
  background-image: url(assets/desktop/icon-arrow-up-hover.svg);
}
body .clock .switch .switch-button-area .switch-button-background .switch-button-title {
  margin: 0 2vh 0 2vh;
  opacity: 0.5;
  font-family: "Inter";
  font-weight: 700;
  font-size: 2vh;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
body .clock .switch .switch-button-area .switch-button-background .switch-button-icon {
  height: 4vh;
  width: 4vh;
  background-image: url(assets/desktop/icon-arrow-up.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body .details {
  grid-row: 2;
  opacity: 0.75;
  backdrop-filter: blur(5px);
  display: grid;
  /* grid*/
  grid-template-columns: 1fr 40% 1px 40% 1fr;
  grid-template-rows: 1fr 36% 36% 1fr;
  font-family: "Inter";
}
body .details .stats-header {
  text-transform: uppercase;
  font-size: 2vh;
  font-weight: 400;
}
body .details .stats-value {
  font-size: 8vh;
  font-weight: 700;
}
body .details .stats-block {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
body .details .stats-timezone {
  grid-column: 2;
  grid-row: 2;
}
body .details .stats-day-year {
  grid-column: 2;
  grid-row: 3;
}
body .details .stats-day-year .stats-header {
  grid-row: 2;
}
body .details .stats-day-year .stats-value {
  grid-row: 3;
}
body .details .stats-day-week {
  grid-column: 4;
  grid-row: 2;
  padding-left: 10vh;
}
body .details .stats-week-number {
  grid-column: 4;
  grid-row: 3;
  padding-left: 10vh;
  align-content: flex-end;
}
body .details .stats-week-number .stats-header {
  grid-row: 2;
}
body .details .stats-week-number .stats-value {
  grid-row: 3;
}
body .details .stats-delimiter {
  grid-column: 3;
  grid-row: 2/4;
  background-color: #B8BBBC;
}

.layout-debug .clock {
  background-color: brown;
}
.layout-debug .clock .time {
  background-color: chocolate;
}
.layout-debug .clock .switch {
  background-color: darkcyan;
}
.layout-debug .clock .switch-button-area {
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
