

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

$color-main-text: rgb(255, 255, 255);

html {
    background: url(assets/desktop/bg-image-daytime.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.4);
    background-blend-mode: multiply;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 50%;

    .clock{
        grid-row: 1;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;

        .time {
            grid-column-start: 2;
            
            display: grid;
            grid-template-rows: 33% 34% 33%;
            

            .greetings-icon {
                height: 2vh;
                display: inline-block;
                margin-right: 2vh;
            }

            .greetings {
                grid-row: 1;
                background-color1: darkblue;
                font-family: 'Inter';
                    font-weight: 400;
                    font-size: 2vh;
                    line-height: 1.0;
                    text-transform: uppercase;
                    color: $color-main-text;
                    letter-spacing: 0.1em;

                    display: grid;
                    grid-template-rows: 1fr;
                    align-items: flex-end;
                    margin-bottom: 2vh;

                    .greetings-content {
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: min-content 1fr;
                        align-content: center;
                    }
            }    

            .time-title {
                background-color1: deeppink;
                
                grid-row: 2;
                
                color: $color-main-text;

                .time-title-clock-text {
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 0;
                    background-color1: darkred;

                    .time-title-clock-text-hours {
                        font-size: 15vh;
                        display: inline-block;
                        background-color1: chocolate;
                    }

                    .time-title-timezone {
                        display: inline-block;
                        font-size: 4vh;
                        font-weight: 200;
                    }
                }
            }

            .place {
                background-color1: darkolivegreen;
                grid-row: 3;
                font-family: 'Inter';
                    font-weight: 700;
                    font-size: 2vh;
                    line-height: 1.0;
                    text-transform: uppercase;
                    color: $color-main-text;
                    letter-spacing: 0.1em;

                    display: grid;
                    grid-template-rows: 1fr;
                    align-items: flex-start;
                    margin-top: 2vh;
            }
        }

        .switch {
            grid-column: 3;
            background-color1: coral;

            display: grid;
            grid-template-rows: 33% 34% 33%;

            .switch-button-area {
                grid-row: 3;
                display: grid;
                justify-content: end;
                align-content: flex-start;

                .switch-button-background {
                    background-color: $color-main-text;


                    display: inline-grid;
                    grid-template-rows: 1fr;
                    align-items: center;
                    grid-template-columns: max-content max-content;
                    border-radius: 4vh;
                    padding: 1vh;
                    justify-content: space-around;
                    color: black;
                    cursor: pointer;
                    &:hover {
                        color: #999999;
                        .switch-button-icon {
                            background-image: url(assets/desktop/icon-arrow-up-hover.svg);
                        }
                    }

                    .switch-button-title {
                        margin: 0 2vh 0 2vh;
                        
                        opacity: 0.5;
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 2vh;
                        line-height: 1.0;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;    
                        
                        
                    }

                    .switch-button-icon {
                        height: 4vh;
                        width: 4vh;
                        background-image: url(assets/desktop/icon-arrow-up.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }

    $blur: 1px;

    .details {
        grid-row: 2;
        background-color: #FFFFFF;
        
        opacity: 0.75;

        display: grid;
        grid-template-columns: 1fr 40% 1px 40% 1fr;
        grid-template-rows: 1fr 36% 36% 1fr;

        color: #303030;
        font-family: 'Inter';

        .stats-header {
            text-transform: uppercase;
            font-size: 2vh;
            font-weight: 400;
        }

        .stats-value {
            font-size: 8vh;
            font-weight: 700;
        }

        .stats-block {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .stats-timezone {
            grid-column: 2;
            grid-row: 2;
        }

        .stats-day-year {
            grid-column: 2;
            grid-row: 3;

            .stats-header {
                grid-row: 2;
            }

            .stats-value {
                grid-row: 3;
            }
        }

        .stats-day-week {
            grid-column: 4;
            grid-row: 2;
            padding-left: 10vh;
        }

        .stats-week-number {
            grid-column: 4;
            grid-row: 3;
            padding-left: 10vh;

            align-content: flex-end;

            .stats-header {
                grid-row: 2;
            }

            .stats-value {
                grid-row: 3;
            }
        }

        .stats-delimiter {
            grid-column: 3;
            grid-row: 2 / 4;
            background-color: #B8BBBC;
        }
    }
}
